.headerTitle{
    font-size: 22px;
    font-weight: bold;
    color: rgb(231, 229, 229);
}


.header-container {
    /* position: fixed; */
    background-color:rgba(0, 45, 74, 0.426);
    display: flex;
    height: 150px;
   /* color: ; */
}

.axis-container{
    flex: 30%;
    /* border: 1px solid black; */
    flex-direction: column;
    justify-content: end;
}
.header-text{
    flex: 40%;
    /* border: 1px solid black; */
    vertical-align:middle;    
}
.operate-area{
    flex: 25%;
    /* border: 1px solid black; */
}

.function-area{
    flex: 5%;
    /* border: 1px solid black; */
}

.axis-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    margin-left: 15px;
}

.axis-name{
    color: white;
}


.axis-image{
    height: 80%;
}

.axis-image-data{
    height: 100%;
    width: auto;
}

.header-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.header-text-content{
    flex: 20%;
    /* margin-bottom: 8px; */
}

.popup-area{
   flex: 75%;
   width: 60%;
   border: 2px solid white;
   border-radius: 10px;
   margin-bottom: 5px;
}

.function-icon {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    margin-right: 10px;
    height: 100%;
    
}

.operater-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.operater-text{
    width: 100%;
    text-align: end;
    margin-right: 20px;
}

.initial-btn{
    display: flex; 
    width: 80%; 
}

.toggle-btn-area{
    flex: 60%;
    display: flex;
}


.hover-show{
    flex: 80%;
    opacity: 0;
    background-color: rgba(255, 0, 76, 0.34);       /* 背景色（透明度） */
    width:120px;                          /* 吹き出し全体の幅 */
    right : 60px;                           /* 表示位置 */
    font-size: 15px; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.toggle-btn {
    flex: 20%;
}

.hover-toggle-btn-area:hover .hover-show{
    opacity: 1;
    transition:all 0.6s ease;
}

.btn-name{
    flex:40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-area {
    /* height: 550px;
    overflow: auto; */
    position: relative;
}

.canvas-grid{
    height: 100%;
    border: 2px solid black;
}

.initial-text {
    position: absolute;
    top: 42%;
    left: 38%;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;

}

.popupTextArea{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpLabel{
    font-weight: bold;
    color: white;
}

.btn-title{
    color: white;
}

